{% extends "bootstrap/base.html" %}
{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;1,700&display=swap" rel="stylesheet">

<!-- Optional theme -->
<link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css">
{% endblock %}
{% block scripts %}
<!-- Latest compiled and minified JavaScript -->
<script src="static/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $('#login-modal').on('shown.bs.modal', function () {
    $('#username').focus();
  });
</script>
{% endblock %}
{% block title %}App{% endblock %}
{% block content %}

<nav class="navbar navbar-dark bg-primary navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><p style = "color: white;">CAR DEALERS</p></a>
    </div>
    {% if user: %}
    <p class="navbar-text navbar-right" style="color: white;">
      <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
      <span style="padding-left: 5px; color: white;">{{ user }} ( <a href="logout">sign out</a> )</span>
    </p>
    {% else %}
    <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" href="#login-modal">Sign
      in</button>
    {% endif %}
  </div>
</nav>

<!---
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">Microservices Fabric BookInfo Demo</a>
    </div>
    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
{% if user %}
      <a href="logout"><button type="button" class="btn btn-default navbar-btn pull-right">Sign out</button></a>
      <p class="navbar-text pull-right">Signed in as {{ user }}</p>
{% else %}
      <button type="button" class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#login-modal">Sign in</button>
{% endif %}
    </div>
  </div>
</div>
-->

<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Please sign in</h4>
      </div>
      <div class="modal-body">
        <form method="post" action='login' name="login_form">
          <p><input type="text" class="form-control" name="username" id="username" placeholder="User Name"></p>
          <p><input type="password" class="form-control" name="passwd" placeholder="Password"></p>
          <p>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </p>
        </form>
      </div>
    </div>

  </div>
</div>

<style>
  body {
    background-image: url('https://di-uploads-pod1.dealerinspire.com/frankletaacura/uploads/2020/03/Dealership-Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Titillium Web, sans-serif;
    color:#07064F;
  }
  </style> 

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-primary"><p style = "font-size:50px;font-style:italic;">{{ cardealer.title }}</p></h3>
      {% autoescape false %}
      <p style = "font-size:20px;font-style:normal;color: black;text-align:center;">{{ cardealer.descriptionHtml }}</p>
      {% endautoescape %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% if detailsStatus == 200: %}
      <h4 class="text-center text-primary"><p style = "font-size:30px;font-style:italic;">
        Cardealer Details</p></h4>
      
      <dl>
        <dt>Email:</dt> <p style = "font-size:20px;font-style:italic;">{{ details.email }}</p>
        <dt>First number:</dt><p style = "font-size:20px;font-style:italic;">{{ details.first_telephone_number }}</p>
        <dt>Second number:</dt><p style = "font-size:20px;font-style:italic;">{{ details.second_telephone_number }}</p>
        <dt>Address:</dt><p style = "font-size:20px;font-style:italic;">{{ details.address }}</p>
        <dt>OPEN:</dt><p style = "font-size:20px;font-style:italic;">{{ details.open }}</p>
      </dl>
      {% else %}
      <h4 class="text-center text-primary">Error fetching cardealer details!</h4>
      {% if details: %}
      <p>{{ details.error }}</p>
      {% endif %}
      {% endif %}
    </div>

    <div class="col-md-6">
      {% if reviewsStatus == 200: %}
      <h4 class="text-center text-primary"><p style = "font-size:30px;font-style:italic;">Cardealer Reviews</p></h4>
      <!-- <div style="width:800px;height:300px;overflow-y: scroll;">
      <blockquote>
        <p>Unclear in telephone communications regarding the vehicles they sell.</p>
        <small>Reviewer 1</small>
        <p>Guaranteed professionalism. Excellent after-sales assistance!</p>
        <small>Reviewer 2</small>
        <p>Recommended. very professional.</p>
        <small>Reviewer 3</small>
        <p>Car serviced after a month ... yuck.</p>
        <small>Reviewer 4</small>
        <p>I'll be back for my daughter's car. Great shop!</p>
        <small>Reviewer 5</small>
        <p>It could be better.</p>
        <small>Reviewer 6</small>
        <p>Delay in the delivery of the car ... but not bad!</p>
        <small>Reviewer 7</small>
      </blockquote>
      </div> -->
      <div style="width:800px;height:300px;overflow-y: scroll;">
      {% for review in reviews.reviews %}
      <blockquote>
        <p>{{ review.text }}</p>
        <small>{{ review.reviewer }}</small>
      </blockquote>
    
      {% endfor %}
    </div>
      {% else %}
      <h4 class="text-center text-primary">Error fetching cardealer reviews!</h4>
      {% if reviews: %}
      <p>{{ reviews.error }}</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}